In [42]:
%load_ext autoreload
%autoreload 2

import os,sys
import skimage.io
import cv2
import numpy as np
import matplotlib.pyplot as plt
from skimage.color import rgb2hsv
from skimage.measure import regionprops, label
from skimage.morphology import reconstruction, thin, skeletonize, medial_axis
import collections
from collections import OrderedDict
from PIL import Image, ImageDraw
from tqdm import tqdm_notebook as tqdm
import pandas as pd
from PIL import Image
import scipy
import pickle
import glob
from tqdm.notebook import tqdm

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [43]:
image_dir = "./panda-36x256x256-tiles-data-opt/train/" 
mask_dir = "./panda-36x256x256-tiles-data-spine/masks/" 
# csv_file = "./panda-36x256x256-tiles-data-spine/4_fold_whole_train.csv"
csv_file = "./prostate-cancer-grade-assessment/train.csv"

In [44]:
df = pd.read_csv(csv_file)
df = df.set_index('image_id')

In [45]:
df.head()

                                 data_provider  isup_grade gleason_score
image_id
0005f7aaab2800f6170c399693a96917    karolinska           0           0+0
000920ad0b612851f8e01bcc880d9b3d    karolinska           0           0+0
0018ae58b01bdadc8e347995b69f99aa       radboud           4           4+4
001c62abd11fa4b57bf7a6c603a11bb9    karolinska           4           4+4
001d865e65ef5d2579c190a0e0350d8f    karolinska           0           0+0

In [46]:
with open('slide_has_less_tiles.pkl', 'rb') as f:
    data = pickle.load(f)

In [47]:
df.loc[data]

                                 data_provider  isup_grade gleason_score
image_id
3790f55cad63053e956fb73027179707    karolinska           0           0+0

In [48]:
ndf = df.drop(data)

In [49]:
ndf = ndf.reset_index()

In [50]:
# name = ndf.loc[10,"image_id"]
# name = "f7c97aeccfaeb2d9e84414c5c5e6db22"
tile_number = []
for i in tqdm(range(len(ndf))):
    name = ndf.loc[i,"image_id"]
    n = len(glob.glob(os.path.join(image_dir, f"{name}*.png")))
    tile_number.append(n)
#     if i >= 10:
#         break

HBox(children=(FloatProgress(value=0.0, max=10615.0), HTML(value='')))

In [51]:
ndf.loc[:,'tile_number'] = tile_number
ndf.head()

,image_id,data_provider,isup_grade,gleason_score,tile_number
0,0005f7aaab2800f6170c399693a96917,karolinska,0,0+0,26
1,000920ad0b612851f8e01bcc880d9b3d,karolinska,0,0+0,12
2,0018ae58b01bdadc8e347995b69f99aa,radboud,4,4+4,26
3,001c62abd11fa4b57bf7a6c603a11bb9,karolinska,4,4+4,37
4,001d865e65ef5d2579c190a0e0350d8f,karolinska,0,0+0,62

In [52]:
ndf = ndf.set_index('image_id')

In [53]:
ndf.to_csv("train_w_tile_number.csv")

In [57]:
for i in tile_number:
    if i == 0:
        print("1")