In [4]:
import pandas as pd
from sklearn.model_selection import StratifiedKFold

In [5]:
train_df = pd.read_csv("/home/jiayun/Documents/deepstorage/PANDA_challenge/train.csv")

In [7]:
splits = StratifiedKFold(n_splits=5, random_state=4, shuffle=True)

In [8]:
splits.split(train_df,train_df.isup_grade)

In [9]:
for fold, (trn_idx, valid_idx) in enumerate(splits.split(train_df,train_df.isup_grade)):
    
    print((trn_idx, valid_idx))

(array([    2,     3,     4, ..., 10613, 10614, 10615]), array([    0,     1,     7, ..., 10599, 10600, 10611]))
(array([    0,     1,     2, ..., 10610, 10611, 10612]), array([    3,     5,     6, ..., 10613, 10614, 10615]))
(array([    0,     1,     2, ..., 10613, 10614, 10615]), array([   16,    17,    18, ..., 10607, 10608, 10612]))
(array([    0,     1,     2, ..., 10613, 10614, 10615]), array([    4,    11,    38, ..., 10602, 10605, 10610]))
(array([    0,     1,     3, ..., 10613, 10614, 10615]), array([    2,     9,    10, ..., 10601, 10606, 10609]))

In [14]:
train_df.loc[[1,2,3]].assign(split=["val"]*3)

,image_id,data_provider,isup_grade,gleason_score,split
1,000920ad0b612851f8e01bcc880d9b3d,karolinska,0,0+0,val
2,0018ae58b01bdadc8e347995b69f99aa,radboud,4,4+4,val
3,001c62abd11fa4b57bf7a6c603a11bb9,karolinska,4,4+4,val

In [15]:
train_df.head()

                           image_id data_provider  isup_grade gleason_score
0  0005f7aaab2800f6170c399693a96917    karolinska           0           0+0
1  000920ad0b612851f8e01bcc880d9b3d    karolinska           0           0+0
2  0018ae58b01bdadc8e347995b69f99aa       radboud           4           4+4
3  001c62abd11fa4b57bf7a6c603a11bb9    karolinska           4           4+4
4  001d865e65ef5d2579c190a0e0350d8f    karolinska           0           0+0